<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="clearfix">
        <img class="img2" src=".../../assets/img/vikas1.jpeg" alt="Pineapple" width="170" height="170">
        <h1>GUPTA VIKAS JAWAHAR LAL</h1>
        <h1>+919702281486</h1>
        <a href="vg931996@gmail.com"><b>Gmail</b>
            vg931996@gmail.com</a><br>
      <a href="https://www.linkedin.com/in/gupta-vikas-5ab653110/"><b>Linkdin Profile:-</b>  Check My Linkdin Profile</a><br>
      <a href="https://github.com/vikasgupta1996"><b>Github:-</b>  Check my Github Project</a>    
      </div>
      

<h1 class="header">Academic Qualification</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Qualification</th>
        <th scope="col">School / Institute</th>
        <th scope="col">Year</th>
        <th scope="col">Board / University </th>
        <th scope="col">Marks</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">BE</th>
        <td>A.C. Patil College Of Engineering Kharghar Mumbai</td>
        <td>2021</td>
        <td>Mumbai University</td>
        <td>6.96</td>
        
      </tr>
      <tr>
        <th scope="row">Diploma </th>
        <td>A.C. Patil College Of Engineering Kharghar Mumbai</td>
        <td>2017</td>
        <td>MSBTE</td>
        <td>63.58%</td>
      </tr>
      <tr>
        <th scope="row">XII-HSC</th>
        <td>Rajshree Shahu College Mumbai</td>
        <td>2015</td>
        <td>State Board of
            Maharashtra </td>
        <td>48%</td>
      </tr>
      <tr>
        <th scope="row">X-SSC</th>
        <td>Naval's National Academy utter pradesh </td>
        <td>2012</td>
        <td>State Board of
            Utter Pradesh</td>
        <td>75%
        </td>
      </tr>
    </tbody>
  </table>
<h1 class="header">Summer Internship</h1>
<li class="para"> Successfully completed Internship at EMU carshed, kurla. July'18</li>
    <li class="para"> Python workshop.</li>
    <li class="para"> Iot workshop by E-yantra at IIT Bombay.</li>
<h1 class="header">Professional Experience</h1>
<li class="para">To work in a firm with a professional work driven environment where I can utilize and apply my knowledge, skills which would
    enable me as a fresh graduate to grow while fulfilling organizational goals.</li>
    <li class="para">Interacted with client, understood their requirements, gathered data and did analysis so as to prepare POCs and POVs for a
        retail clien</li>
<h1 class="header">Academic / Industrial Projects</h1>  
<li class="para">Final year project is  <b> “lot based Intelligent Gas Leakage Detector Using Arduino ”.</b> In this project we
    connected few sensor to the Arduino and monitor this sensor sens the gas leakage by any location
    And also its connected with mail and contact number to get message leakage.
    </li> 
    <li class="para"><b>  “Homesecurity”</b> system,the aim of the project is introduce modern technology of security to protect home from
        outsiders.</li>   
    <li class="para"> Final year project ofdiploma isIEEE based on <b> “lamp life extender by ZVS”.</b></li> 
   
   
    <h1 class="header">Technical Experience </h1> 
    <b style="margin-left: 10px ; font-size:22px;">project</b>
    <li class="para">Using Angular Create a Web Site to <b>Gapati Pandal</b> From Institude competition winner up <b> 1 <sup>st</sup> Prize.</b></li>  
    <li class="para">Simple <b>Calculator</b></li>
    <li class="para"><b>Registration Form</b> using angular</li>
    <li class="para">WebSite of <b>Rental house</b></li>
    <li class="para"><b>Portfolio Website</b></li>
    <li class="para">Create a Database Of <b>BloodDonation</b> Using Sql.
    </li> 
    <li class="para">Create Web Site Of <b>Indian Culture AND Fesativel</b> Using Webdesigning.
    </li> 
    <li class="para">Using Python Create a project of <b>Tracking Location.</b>
    </li> 
    <li class="para">In python Using <b>Flask Create a small Web Site</b> and connected <b>Database to Sql.</b></li>  

    <h1 class="header">Certifications</h1> 
<li class="para">Completed certificate of <b>ANGULAR.</b></li>
<li class="para">Completed certificate of <b>PYTHON.</b></li>
<li class="para">Completed certificate of <b>SQL.</b></li>
<li class="para">Completed certificate of <b>WEBDESIGNING (HTML,CSS,BOOTSTRAP,JAVASCRIPT).</b></li>
<li class="para">Completed certificate of <b>PSLB.</b>
</li>
<li class="para"><b>IBM</b> Certificate</li>
<li class="para">Certificate Of <b>SCILAB</b> Software.</li>

<h1 class="header">Extra-Curricular Activities</h1> 
<li class="para">Worked in <b>“Energy Converter </b> in VECTORS 2K17.</li>
<li class="para">Worked in <b>“ROBO RACE </b> in VECTORS 2K16.</li>
<li class="para">Worked in <b>“BLIND MAZE RUNNER as Member” </b>in VECTORS 2K19.</li>
<li class="para">Winner of <b>‘Best Student </b> of the School’,2010</li>

<h1 class="header">Languages And Technologies</h1> 
<li class="para"><b>Python developer</b></li>
<li class="para"><b>Angular framwork</b></li>
<li class="para"><b>WebDesigning Using (HTML CSS BOOTSRAP JAVASCRIPT)</b></li>
<li class="para"><b>Sql (Structured Query Language.)</b></li>
<li class="para"><b>PSLB(Programming Skills And Logic Building)</b></li>
<li class="para"><b>PresentationSkills</b></li>
<li class="para"><b>AnalyticalSkills</b></li>
<li class="para"><b>CreativeSkills</b></li>
<h1 class="header">Declaration</h1> 
<p class="text-center">I do hereby declare that the above information is true to the best of my knowledge.</p>
</body>
</html>
