<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>
<body>
    <h1 data-text= "ACHIEVEMENT">
        ACHIEVEMENT</h1>


 
        <div class="container">
            <div class="card">
              <div class="Box">
                <img src=".../../assets/img/angular.jpg">
              </div>
              <div class="details">
                <h2>ANGULAR</h2>
                <p>Angular is a client-side open-source JavaScript-based front-end framework, which is used to build custom applications in HTML, CSS, and Typescript.
                  It is a front-end JavaScript framework, which was developed to build web-based dynamic applications easier, 
                  AngularJS is developed by Google. Being an open-source framework, AngularJS is maintained by Google  and organizations whose focus is to ease and accelerate the development of single-page web apps </p>
              </div>
            </div>
            <div class="card">
              <div class="Box">
                <img src=".../../assets/img/python.jpg">
              </div>
              <div class="details">
                <h2>PYTHON</h2>
                <p>Python is an interpreted, object-oriented, high-level programming language with dynamic semantics developed by Guido van Rossum. Designed to be easy as well as fun, the name "Python" is a nod to the British comedy group Monty Python. Python has a reputation as a beginner-friendly language, replacing Java as the most widely used introductory language because it handles much of the complexity for the user,
                   allowing beginners to focus on fully grasping programming concepts.
                   Python is used for server-side web development </p>
              </div>
            </div>
            <div class="card">
              <div class="Box">
                <img src=".../../assets/img/webd.jpg">
              </div>
              <div class="details">
                <h2>WEB_DESIGNING</h2>
                <p>Web design encompasses many different skills and disciplines in the production and maintenance of websites. The different areas of web design include web graphic design;  authoring, including standardised code and proprietary software; user experience design; and search engine optimization.
                  Bootstrap is a free front-end framework for faster and easier web development. Bootstrap includes HTML and CSS based design templates for typography, forms, buttons, tables, navigation, modals, image carousels and many other, as well as optional JavaScript plugins. </p>
              </div>
            </div>
            <div class="card">
                <div class="Box">
                  <img src=".../../assets/img/sql.jpg">
                </div>
                <div class="details">
                  <h2>SQL</h2>
                  <p>What is SQL? SQL stands for Structured Query Language. SQL lets you access and manipulate databases. SQL became a standard of the American National Standards Institute (ANSI) in 1986, and of the International Organization for Standardization (ISO) in 1987.
                    Types of SQL Statements
                    Data Definition Language (DDL) Statements.
                    Data Manipulation Language (DML) Statements.
                    Transaction Control Statements.
                    Session Control Statements.
                    System Control Statement.
                    Embedded SQL Statements.
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="Box">
                  <img src=".../../assets/img/pslb.jpg">
                </div>
                <div class="details">
                  <h2>PSLB</h2>
                  <p>consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                    
                  </p>
                </div>
              </div>
              <div class="card">
                <div class="Box">
                  <img src=".../../assets/img/bappa.jpeg">
                </div>
                <div class="details">
                  <h2>GANPATI_PANDAL</h2>
                  <p>this certification for the codding compition in institude level of our branch and creat a one website to GANPATI PANDAL
                    with using ANGULAR framwork there include HTML CSS AND TYPESCRIPT to Design and create the website and ranking the institude of first ranker .
                     </p>
                </div>
              </div>



          <div class="card">
            <div class="Box">
              <img src=".../../assets/img/IBM.png">
            </div>
            <div class="details">
              <h2>IBM CERTIFICATE</h2>
            </div>
          </div>
        </div>
       <br><br><br><br><br><br><br>     
</body>
</html>
