<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">
</head>

   
 <body>

    
   

   <!-- <div class="container" *ngFor="let skill of skill">
        <h2>{{skill.courses}}</h2>
        <div class="card" >
            <div class="face face1">
                <div class="content">
                    <div class="icon">
                        <h4>{{skill.name}}</h4>
                        <a href="{{skill.url}}">
                        <button class="noselect fixed-bottom" >Read More</button></a>
                    </div>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>{{skill.DEF}}</p>
                </div>
            </div>
        </div>
    </div> -->


<div class="main">
  <h1>LEARN OF SKILL</h1> 
    <div class="container">
        <div class="box">
          <span></span>
          <div class="content">
            <h2>PYTHON</h2>
            <p>Python is an interpreted, object-oriented, high-level programming language with dynamic semantics developed by Guido van Rossum.</p>
            <a href="https://www.w3schools.com/python/python_intro.asp">Read More</a>
          </div>
        </div>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>DJANGO</h2>
            <p>Django is a high-level Python web framework that enables rapid development of secure and maintainable websites.</p>
            <a href="https://www.javatpoint.com/django-tutorial">Read More</a>
          </div>
        </div>
        <div class="box">
          <span></span>
          <div class="content">
            <h2>SQL</h2>
            <p> This preparatory module is conducted online before the actual PG-DAC course commences for students to learn to think logically and how to solve problems.</p>
            <a href="https://www.w3schools.com/sql/">Read More</a>
          </div>
        </div>

        <div class="box">
          <span></span>
          <div class="content">
            <h2>Web Designing</h2>
            <p> This preparatory module is conducted online before the actual PG-DAC course commences for students to learn to think logically and how to solve problems.</p>
            <a href="https://www.w3schools.com/html/default.asp">Read More</a>
          </div>
        </div>



        <div class="box">
          <span></span>
          <div class="content">
            <h2>Angular</h2>
            <p> This preparatory module is conducted online before the actual PG-DAC course commences for students to learn to think logically and how to solve problems.</p>
            <a href="https://www.tutorialspoint.com/how-to-build-logic-as-programmer/index.asp">Read More</a>
          </div>
        </div>



        <div class="box">
          <span></span>
          <div class="content">
            <h2>PSLB</h2>
            <p> This preparatory module is conducted online before the actual PG-DAC course commences for students to learn to think logically and how to solve problems.</p>
            <a href="https://www.tutorialspoint.com/how-to-build-logic-as-programmer/index.asp">Read More</a>
          </div>
        </div>

      </div>
    </div>   
</body>
</html>
<br><br><br><br><br><br>
