<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Estonia&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap" rel="stylesheet">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap');

   </style>
</head>
<body>
  <video autoplay muted loop id="myVideo">
    <source src=".../../assets/img/Vertices.mp4" type="video/mp4">
  </video>
<h1> Never Stop
  Exploring The Words</h1>

  <img src=".../../assets/img/myimage.webp" alt="img">

       <h2>Name:-Gupta Vikas Jawaharlal</h2>
       <h3>Qualififcation:-BE/E&TC</h3>
       <h4>Position:-Software Developer</h4> 


       <div class="wrapper">
        <div class="link_wrapper"><br>
          <a routerLink="/cv">Read My Profile</a> 
          <!-- <div class="icon"> -->
            <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832"> -->
              <!-- <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/> -->
            <!-- </svg> -->
          <!-- </div> -->
         </div>
        
      </div>

      <br><br><br><br><br><br><br><br><br>
</body>
</html>



















































<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Estonia&display=swap" rel="stylesheet">


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,700;0,800;1,200&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap" rel="stylesheet">

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Estonia&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap');

   </style>
</head>
<body>

  <video autoplay muted loop id="myVideo">
    <source src=".../../assets/img/Vertices.mp4" type="video/mp4">

  </video>

    <h2>
      never stop <br>
      exploring the words
    </h2>
  <img src=".../../assets/img/myimage.webp" alt="img">
  <div class="container">
    <div class="title">
       <h1>Name:-Gupta Vikas Jawaharlal</h1><br>
       <h3>Qualififcation:-BE/E&TC</h3><br>
       <h4>Position:-Software Developer</h4><br>
    </div><br>
  </div><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="wrapper">
    <div class="link_wrapper"><br>
      <a routerLink="/cv">Read My Profile</a> -->
      <!-- <div class="icon"> -->
        <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 268.832 268.832"> -->
          <!-- <path d="M265.17 125.577l-80-80c-4.88-4.88-12.796-4.88-17.677 0-4.882 4.882-4.882 12.796 0 17.678l58.66 58.66H12.5c-6.903 0-12.5 5.598-12.5 12.5 0 6.903 5.597 12.5 12.5 12.5h213.654l-58.66 58.662c-4.88 4.882-4.88 12.796 0 17.678 2.44 2.44 5.64 3.66 8.84 3.66s6.398-1.22 8.84-3.66l79.997-80c4.883-4.882 4.883-12.796 0-17.678z"/> -->
        <!-- </svg> -->
      <!-- </div> -->
    <!-- </div>
    
  </div>

  <br><br><br><br><br><br>
</body>
</html> -->



















